.benefits {
    padding-bottom: 30px;

    @include screen(md) {
        padding-bottom: 50px;
    }

    @include screen (lg) {
        padding-bottom: 70px;
    }

    @include screen (xl) {
        padding-bottom: 100px;
    }

    .row {
        justify-content: center;

        @include screen(lg) {
            justify-content: space-between;
        }
    }


    &__item {

        padding-bottom: 25px;

        @include screen (lg) {
            padding-bottom: 0;
        }

        // styles for icons

        &-img {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px auto;
            width: 108px;
            height: 108px;
            padding: 22px;
            border: 2px solid #000;
            border-radius: 50%;
        }

        // styles for text

        h3 {
            text-transform: uppercase;
        }

        &-text {

            p {
                font-family: $font-base-light;
                color: $color-main;
                text-align: center;
            }
        }
    }
}