// Fonts
$font-base: 'LatoWeb', Helvetica, sans-serif;
$font-base-bold: 'LatoWebBold', Helvetica, sans-serif;
$font-base-light: 'LatoWebLight', Helvetica, sans-serif;
$font-secondary: 'LatoWebHairline', Helvetica, sans-serif;

// Backgrounds
$bg: #f7f7f7;



// Colors
$color-main: #444;
$color-secondary: #fff;
